#Docker
COMPOSE_PROJECT_NAME=test-project
APP_SERVER=80
DB_PORT=3306
TEST_DB_PORT=3307

#App
DB_DATABASE=test-project
DB_USERNAME=test-project
DB_PASSWORD=test-project
TEST_DB_DATABASE=test-project_test
TEST_DB_USERNAME=test-project-test
TEST_DB_PASSWORD=test-project-test
LOG_LEVEL=error
APP_URL=http://127.0.0.1:80/
