@use 'variables' as *;

.sort {
    margin-bottom: 1rem;

    a {
        margin-right: 0.75rem;
        text-decoration: none;
        color: $color-muted;

        &.active {
            color: $color-text;
            font-weight: 600;
        }
    }
}

.pagination {
    margin-top: 1.5rem;

    a,
    strong {
        margin-right: 0.5rem;
    }
}
