@use 'variables' as *;

.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: $color-bg;
    color: $color-text;

    .error {
        text-align: center;

        h1 {
            font-size: 4rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            color: $color-muted;
        }
    }
}
